      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        background-color: #D2D5DA;
      }

      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }

.container {
  width: 100%
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
header
{
    text-align: center;
    background-color: white;
    padding: 72px 0px;
}
h1 
{
    font-size: 36px;
    font-weight: 600; 
    margin-bottom: 10px;
}

h2
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
article
{
    background-color: #F8FAFC;
    padding: 40px 350px;
    list-style-position: inside;
    
}
p{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;;
}
li
{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
hr
{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #D2D5DA;
}
/* Large screens (1280px and up) */
@media (min-width: 1280px) {
  .container {
    margin: 0px auto;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .container {
    max-width: 1000px;

  }

}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }

}

@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }


}
